main {
    text-align: center;
}
.tabuleiro div input {
    width:100px;    
    height:100px;
    margin: 5px;
    border: 2px purple;
    border-radius: 8px;
    font-size: 30px;
    cursor: pointer;
}
body {
    background-color: rgb(32, 32, 36);
    margin: 200px 0 0 0;
    font-family: 'kanit';
    overflow: auto;
}
h1{
    color: hotpink;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: hotpink;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
input {
    background-color: plum;
}